<div class="map">
  <agm-map 
    [latitude]="geometry?.latitude"
    [longitude]="geometry?.longtitude"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="false">
    <agm-marker 
      *ngFor="let m of markers; let i = index"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="{ color: '#ffffff', text: m.label }"
      [iconUrl]="m.icon"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">
    </agm-marker>
  </agm-map>
  <div class="time">
    18분
  </div>
</div>
<div class="constraint">
  <div class="status-group">
    <div class="status" [class.now]="selectedStatus == '준비중'">
      <i class="fas fa-clipboard-list"></i>
      <h3>주문 접수</h3>
    </div>
    <div class="status" [class.now]="selectedStatus == '조리중'">
      <i class="fas fa-utensils"></i>
      <h3>조리 중</h3>
    </div>
    <div class="status" [class.now]="selectedStatus == '배달중'">
      <i class="fas fa-bicycle"></i>
      <h3>배달 중</h3>
    </div>
    <div class="status" [class.now]="selectedStatus == '배달완료'">
      <i class="fas fa-bell"></i>
      <h3>곧 도착합니다!</h3>
    </div>
  </div>
</div>