@import '../../../sass/variables';

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 800px;
  position: absolute;
  // z-index: 200;
  height: 100%;
  top: 0;
  width: 100%;
  background-color:white;
  background: url('../../../assets/images/yakynina-anastasia-543605-unsplash.jpg');
  background-size: cover;

}

.signup {
  background: url('../../../assets/images/ingrid-hofstra-527954-unsplash.jpg');
  background-size: cover;
}
