@import '../../sass/_variables';

.constraint {
  display: flex;
  justify-content: space-between;
}
// form group
.checkout {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  margin-right: 4em;

  @media only screen and (min-width: $medium) {
    width: 100%;
  }
}

.page-title {
  width: 100%;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 46px;
}

.form-group {
  width: 100%;
  border: 1px solid $light-grey;
  border-radius: 4px;
  margin-bottom: 20px;

  label {
    width: 100%;
  }
}

.form-title {
  font-size: 1.6em;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid $light-grey;
}

.selector-group {
  padding: 20px;

  & > span {
    color: $uber-green;
  }

  .selectors {
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
  }

}

.date-picker {
  padding-top: 20px;
  display: flex;

  .select-group {
    position: relative;
  }

  select {
    border-bottom: 1px solid $grey;
    border-radius: 0px;
    padding: 10px 20px 10px 0;
    font-weight: 400;
    margin-right: 16px;
    cursor: pointer;
  }
}

.fa-caret-down {
  position: absolute;
  top: 0;
  right: 20px;
  width: 10px;
  height: 34px;
  color: $grey;
  cursor: pointer;
}


.group2 {
  .selector-group {
    display: flex;
  }
  .map {
    width: 145px;
    height: 145px;
    background: wheat;
    margin-right: 20px;
  }
  .input-group {
    width: calc(100% - 165px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  input {
    height: 42px;
    padding: 0 10px 0 16px;

    &::placeholder {
      color: black;
    }
  }
}

.group3 {
  .input-group {
    display: flex;
  }
  label {
    display: flex;
  }
  input {
    margin: 10px;
    text-align: center;
    margin: 10px;
    text-align: left;
    padding: 0 20px;
    letter-spacing: 6px;
  }
  .selector-group {
    height: 120px;
  }
}

// cart
.cart-group {
  margin-top: 80px;
  min-width: 360px;

  @media only screen and (min-width: $large) {
    width: 380px;
    min-width: 380px;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.button-group {
  p {
    margin: 0;
  }

  h3 {
    font-size: 1.4em;
    font-weight: 400;
  }
}

@keyframes errorIn {
  0% {
    transform: translateX(-2px);
  }
  100%{
    transform: translateX(2px);
  }
}
.error {
  font-size: 1em;
  padding: 10px 10px;
  color: #FF5722;
  animation: errorIn 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-iteration-count: 4;
}

input[disabled] {
    font-style: italic;
    color: $grey;
}