@import '../../sass/_variables';

.constraint {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
// form group
.checkout {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  margin-right: 2em;

  @media only screen and (min-width: $medium) {
    width: 50%;
  }
}

.page-title {
  width: 100%;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 46px;
}

.form-group {
  width: 100%;
  border: 1px solid $light-grey;
  border-radius: 4px;
  margin-bottom: 20px;

  label {
    width: 100%;
  }
}

.fa-clock {
  color: $grey;
  margin-right: 5px;
}

.form-title {
  font-size: 1.6em;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid $light-grey;
}

.selector-group {
  padding: 20px;
  
  .button-group {
    margin: 30px 0;
  }
  & > span {
    color: $uber-green;
  }

  .selectors {
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
  }

}

.date-picker {
  padding-top: 20px;
  display: flex;

  .select-group {
    position: relative;
  }

  select {
    border-bottom: 1px solid $grey;
    border-radius: 0px;
    padding: 10px 20px 10px 0;
    font-weight: 400;
    margin-right: 16px;
    cursor: pointer;
  }
}

.fa-caret-down {
  position: absolute;
  top: 0;
  right: 20px;
  width: 10px;
  height: 34px;
  color: $grey;
  cursor: pointer;
}


.group2 {
  .selector-group {
    display: flex;
  }
  .map {
    width: 145px;
    height: 145px;
    background: wheat;
    margin-right: 20px;
  }
  .input-group {
    width: calc(100% - 165px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  input {
    height: 42px;
    padding: 0 10px 0 16px;

    &::placeholder {
      color: black;
    }
  }
}


.modal {

  width: 100%;
  min-width: 380px;
  height: 100%;
  padding: 30px;

  @media only screen and (min-width: 640px) {
    width: 70%;
    max-width: 440px;
    height: 440px !important;
  }

  .button {
    margin-top: 20px;
  }
}

.group3 {
  .input-group {
    display: flex;
  }

  input {
    margin: 10px;
    text-align: center;
    margin: 10px;
    text-align: left;
    padding: 0 10px;
    letter-spacing: 6px;
    position: relative;
  }

  .selector-group {
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.error {
  position: absolute;
  top: 50px;

  small {
  padding: 0 4px;
  font-size: 0.8em;
  }
}

.card-text {
  padding-left: 10px;
  letter-spacing: 1px;

  .fa-credit-card {
    // padding-right: 10px;
    color: $grey;
  }
}

.row {
  width: 100%;
  margin: 20px 0;

  .input-name {
    padding-left: 10px;
  }
  label[for="num"] {
    position: relative;
    width: 100%;
    max-width: 300px;
  }
}

.additional-group {
  display: flex;
  label {
    position: relative;
    width: 140px;
    margin-right: 20px;
  }
}
// cart
.cart-group {
  margin-top: 80px;
  // min-width: 360px;
  width: 100%;

  @media only screen and (min-width: $medium) {
    width: 42%;
  }

  @media only screen and (min-width: $large) {
    width: 460px;
    min-width: 460px;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.button-group {
  p {
    margin: 0;
  }

  h3 {
    font-size: 1.4em;
    font-weight: 400;
  }
}

@keyframes errorIn {
  0% {
    transform: translateX(-2px);
  }
  100%{
    transform: translateX(2px);
  }
}
.error {
  font-size: 1em;
  padding: 10px 10px;
  color: #FF5722;
  animation: errorIn 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-iteration-count: 4;
}

input[disabled] {
    font-style: italic;
    color: $grey;
}

.disabled {
  opacity: 0.5;
  cursor: no-drop;
}