// 공용 컬러 변수입니다 임포트 해서 사용합니다.
$uber-green : #43A422;
$uber-green-hover: #008800;
$warning : #ff5722;
$warning-hover: #d3471c;
$light-grey: #e0e0e0;
$grey: #a5a5a5;
$dark:rgb(36,36,36);
$background: rgb(250,250,250);

$border: 2px;

// 미디어 쿼리 디폴트 사이즈 입니다.
$m-large: 1024px;
$large: 1200px;
$medium: 640px;


@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pop {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

@keyframes errorIn {
  0% {
    transform: translateX(-2px);
  }
  100%{
    transform: translateX(2px);
  }
}