// 공용 컬러 변수입니다 임포트 해서 사용합니다.
$uber-green : #43A422;
$uber-green-hover: #008800;
$light-grey: #e0e0e0;
$grey: #a5a5a5;
$dark:rgb(36,36,36);

$border: 2px;

// 미디어 쿼리 디폴트 사이즈 입니다.
$large: 1024px;
$medium: 640px;