.input-search {
  background: white;
}

label {
  position: relative;
}

.fa-map-marker-alt {
  position: absolute;
  height: 34px;
  left: 10px;
}

ul {
  position: absolute;
  width: 100%;

  & li {
    height: 34px;
    line-height: 34px;
  }
}