<div 
  class="search-group" 
  [ngClass]="{'onHeader': onSearchBar, 'onMain': !onSearchBar}">
  <div class="input-group">
    <label>
      <i class="fas fa-map-marker-alt"></i>
      <input 
        type="text"
        class="input uber input-search"
        name="searchAddress"
        [(ngModel)]="value"
        (keyup.enter)="onEnter(value)"
        placeholder="배달 주소 입력 *도로명/지번주소 + 번지수 기입 필수* ">
      <ul class="search-list">
        <li class="button" *ngIf="value">{{ value }}</li>
      </ul>
    </label>
    <button class="button uber hideOnMobile">음식 찾기</button>
  </div>
</div>