<div 
  class="search-group" 
  [ngClass]="{'onHeader': onMenu, 'onMain': !onMenu}">
  <div class="input-group">
    <label>
      <i class="fas fa-map-marker-alt"></i>
      <input 
        type="text"
        class="input uber input-search"
        name="searchAddress"
        [(ngModel)]="value"
        (change)="onSearch()"
        (keyup)="onSearch()"
        (keyup.enter)="onEnter(value)"
        placeholder="배달 주소 입력하세요">
      <ul class="search-list">
        <li class="button" *ngIf="value">{{ value }}</li>
      </ul>
    </label>
    <button 
      class="button uber button-main hideOnMobile"
      *ngIf="!onMenu"
      (click)="onEnter()">음식 찾기</button>
  </div>
</div>