@import '../../../sass/_variables.scss';

.active {
  background: $light-grey;
  
  em {
    font-weight: 600;
  }
}

label {
  position: relative;
  width: 90vw;
  min-width: 200px;
  max-width: 600px;

  & input {
    height: 46px;
    border-radius: 2px 0 0 2px;
  }
}

.fa-map-marker-alt {
    position: absolute;
    height: 54px;
    width: 16px;
    left: 20px;
    color: $uber-green;
}


.onMain {
  .input-search {
    background: white;
  }
  .input {
    height: 56px;
    line-height: 56px;
    border-color: $uber-green;
    font-size: 1.3em;
    padding-left: 42px;
  }
  ul {
    position: absolute;
    width: 100%;
    border: 0;

    & li {
      height: 46px;
      line-height: 46px;
      border: 0;
      border-radius: 0;
      border: 1px solid $uber-green;
      margin: -1px 0;
      padding: 0 10px;
    }
  }

  .button-main {
    height:46px;
    margin-left: -5px;
  }
}


.onHeader {
  position: absolute;
  width: 100%;
  top: 71px;
  left: 0;
  background: white;

  & input {
    height: 40px;
    width: 100vw;
  }

  .fa-map-marker-alt {
    height: 40px;
    width: 12px;
    left: 10px;
    color: $grey;
  }

  @media only screen and (min-width: $medium) {
    display: initial;

    position: initial;

    label {

      & input {
        height: 34px;
        width: 100%;
      }
    }

  .fa-map-marker-alt {
    height: 34px;
    }
  }
}