.input-search {
  background: white;
}

label {
  position: relative;
  width: 50vw;
  min-width: 200px;
  max-width: 400px;

  & input {
    height: 46px;
    border-radius: 2px 0 0 2px;
  }
}

.fa-map-marker-alt {
  position: absolute;
  height: 46px;
  left: 10px;
}

ul {
  position: absolute;
  width: 100%;

  & li {
    height: 46px;
    line-height: 46px;
    padding: 0 10px;
  }
}

.button-main {
  height:46px;
  margin-left: -5px;
}