<div class="detail-background" *ngIf="!hide">
  <div class="detail-modal">
    <div class="detail-content">
      <h3>영수증</h3>
      <p>배달 주소<em>{{list.delivery_address}}</em></p>
      <p>배달 주소<em>{{list.delivery_address_detail}}</em></p>
      <p>배달시 요청 사항<em>{{list.delivery_comment}}</em></p>
      <p>레스토랑<em>{{list.order_restaurant.title}}</em></p>
      <p>주문 아이템<em *ngFor="let item of list.order_items">{{item.title}}</em></p>
      <p>주문 상태<em>{{list.order_status}}</em></p>
      <p>주문 가격<em>{{list.price_total}}</em></p>
      <p>결제 방법<em>{{list.payment_method}}</em></p>
    </div>
    <button class="button button-fluid uber" (click)="hide = true">닫기</button>
  </div>
</div>
<div class="constraint">
  <h2>주문</h2>
  <div class="not-found" *ngIf="orderList?.orders.length == 0">
    <p class="title">아직 주문내역이 없네요!</p>
    <p class="desc">주문을 하면 여기에 나타납니다.</p>
  </div>
  <div class="category" *ngIf="orderList?.orders.length">
    <button
      *ngFor="let navItem of navItems"
      [class.on]="navItem === selectedNavItem">
      <a (click)="setCurrentNavItem(navItem)">{{ navItem }}</a>
    </button>
  </div>
  <div class="contents" *ngIf="orderList?.orders">
    <section
      *ngFor="let list of (orderList.orders | orderFilter: selectedNavItem)">
      <div class="image" [ngStyle]="{'background-image':'url('+ list.order_restaurant.logo +')'}"></div>
      <div class="ordercontents">
        <p>주문 레스토랑 <em><a [routerLink]="['/restaurant', list.order_restaurant.uuid]">{{ list.order_restaurant.title | korean }}</a></em></p>
        <p>주문 일시 <em>{{ list.order_create_at | amLocal:'ko' | amDateFormat: 'YYYY-MM-DD HH:mm' }}</em></p>
        <p>결제 금액 <em>{{ list.price_total | currency:'KRW' : 'symbol' : '1.0'}}</em></p>
        <p>배송지 <em>{{ list.delivery_address }}</em></p>
      </div>
      <div class="button-group">
        <button class="button" (click)="showDetail(list)">영수증 보기</button>
        <button class="button" *ngIf="list.order_status === '준비중'" (click)="cancelOrder(list.id)"><a>주문 취소</a></button>
        <button class="button uber" *ngIf="list.order_status !== '주문취소'">
          <a [routerLink]="['/status', list.id]">{{ list.order_status }}</a>
        </button>
        <button class="button dark" *ngIf="list.order_status === '주문취소'" [class.disabled]="true">
          {{ list.order_status }}
        </button>
      </div>
    </section>
  </div>
</div>

