@import '../../../sass/variables';

@keyframes show {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.isClicked {
  color: $uber-green;
}

.header-group {
  background: white;
  // box-shadow: 0px 5px 20px 0px #c7c7c7;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.header {
    max-width: $large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 72px;
    position: relative;
    width: 100%;
    margin: 0px auto;
    transition: min-height 0.2s ease-in-out;
    padding: 10px 20px;

}

button {
  a {
    width: 100% ;
    display: inline-block;
    line-height: 34px;
  }
}

.icon-group {
  width: 40px;
  position: relative;
  a {
    line-height: 0;
  }

  .number {
    animation: show 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  
    background: $uber-green;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    height: 16px;
    left: 20px;
    line-height: 16px;
    min-width: 16px;
    padding: 0 3px;
    position: absolute;
    text-align: center;
    top: 12px;
  }
}


