@import '../../../sass/variables';

.isClicked {
  color: $uber-green;
}

.header-group {
  background: white;
  // box-shadow: 0px 5px 20px 0px #c7c7c7;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.header {
    max-width: $large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 72px;
    position: relative;
    width: 100%;
    margin: 0px auto;
    transition: min-height 0.2s ease-in-out;
    padding: 10px 20px;

}

button {
  a {
    width: 100% ;
    display: inline-block;
    line-height: 34px;
  }
}
// ------ end of header