@import '../../../sass/_variables';


// scaling... any units
$width: 22px;

body {
  background-color: white;
}

// demo-specific
.showbox {
  padding: 0;
  width: 50px;
  height: 50px;
  display: flex;
  position: absolute;
  top: 0;

  &.onHeader {
    width: 30px;
    height: 35px;
  }
}

// end demo-specific
.loader {
  position: relative;
  margin: 0 auto;
  width: 22px;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.onHeader {
  .loader{
    width: 18px;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
  stroke-width: 5px;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $uber-green;
  }
}