@import '../../../sass/_variables';

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-background {
  animation: show 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  top: 0;
  background: #0000006e;
  left: 0;
  display: flex;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 100%;
  background: white;
  height: 100vh;
  padding: 30px;
  
  @media only screen and (min-width: $medium) {
    width: 70%;
    max-width: 580px;
    height: 600px;
	}

  .closeButton {
    margin-left: 96%;
  }

  h3 {
    font-size: 2em;
    font-weight: 300;
  }

  p {
    font-size: 1.1em;
    color: rgb(117, 117, 117);
    line-height: 1.5;
  }

  label {
    width: 100%;
    margin: 10px 0;
  }
  .comment {
    margin: 10px 0;
    height: 46px;
  }
  .group {
    height: 120px;
    display: flex;
    border-top: 1px solid #E0E0E0;
    align-items: center;
  
    em {
      padding: 0 10px;
      font-style: normal;
    }
  }
}

.button-group {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.input-button {
	width: 50px;
	height: 50px;
	border: 1px solid grey;
  border-radius: 50%;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  
  &:hover {
    background: $light-grey;
  }
}

.value {
	line-height: 50px;
	width: 40px;
	text-align: center;
	color: black;
}

.add-button {
	display: flex;
	justify-content: center;
  position: relative;
  
  em {
	position: absolute;
	right: 0;
  }
}