.cart {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 25px 0px;
  // width: 378px;
  margin: 24px 0;
  border-radius: 4px;
  font-size: 20px;
  background: white;
  padding: 24px;
  position: sticky;
  top: 160px;
}

.cart-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  margin: 10px 0;
  padding: 10px 5px;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  
  &:hover {
    background: rgba(128, 128, 128, 0.1);
  }

  div {
    width: 50%;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 30px;
  }
  input {
    width: 30px;
    height: 27px;
    padding: 0 2px;
    border-radius: 2px;
  }
  span {
    cursor: pointer;
    color: green;
  }

}