.cart {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 25px 0px;
  // width: 378px;
  margin: 24px 0;
  border-radius: 4px;
  font-size: 20px;
  background: white;
  padding: 24px;
  position: sticky;
  top: 160px;
}

.item-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  // padding: 30px 5px;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  
  &:hover {
    background: rgba(128, 128, 128, 0.1);
  }

  div {
    width: 50%;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 30px;
    padding: 20px 5px;
  }

  span {
    cursor: pointer;
    color: green;
  }
}

.price-group {
  height: 20px;
  p {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span:last-child {
      font-weight: 600;
    }
  }
  
}