<div class="restaraunt-component-container constraint">
  <div class="container">
    <div class="search-container">
      <div id="size-up" class="search">
        <input class="text"
          type="text"
          (click)="click()"
          (input)="input()"
          placeholder="{{isClick ? '검색' : '레스토랑 또는 음식으로 검색'}}">
        <div class="input-value" *ngIf="showContainer">
          검색할 값을 입력하세요.
        </div>
        <button *ngIf="showContainer" (click)="removeCategory()">X</button>
      </div>
      <div class="category-container" *ngIf="showContainer">
        <div class="categorys">
          <h1>상위 카테고리</h1>
        </div>
        <div class="category-list">
          <div class="category" *ngFor="let list of restaurant">
            <a>
              <img class="category-image" src="{{list.image}}">
            </a>
          </div>
        </div>
      </div>
      <div class="more-category-container" *ngIf="showContainer">
        <div class="categorys">
          <h1>더 많은 카테고리</h1>
        </div>
        <div class="more-category-list">
          <div class="more-category" *ngFor="let moreList of restaurant">
            <a>
              <img class="more-category-image" src="{{moreList.image}}" alt="moreListImage">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="restaraunt-container" *ngIf="!showContainer">
      <div class="main-container">
        <div class="restaurat-name">
          <h1> local - 레스토랑 </h1>
        </div>
        <div class="content-list">
          <div class="content" *ngFor="let list of restaurant">
            <a>
              <div class="content-wrap">
                <img class="img" src={{list.image}}>
                <div class="ready" *ngIf="list.open">준비중</div>
                <div class="name">{{list.name}}</div>
                <div class="detail">
                  <div class="food-types">{{list.foodTypes}}</div>
                  <div class="making-time"> 조리시간 : {{list.deliveryMin}}분 </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <button class="go-up" *ngIf="isShow" (click)="goUp()">
        &uarr;
      </button>
      <div class="load-more" (click)="loadMore()">
        <button>더 로드하기</button>
      </div>
    </div>
  </div>
</div>