@import '../../sass/variables';

    .restaraunt-container{
        position: relative;
    }

    .restaurat-name > h1 {
        font-size: 22px;
        padding-left: 60px;
    }

    /* content */

    .content-list {
        // border: 1px solid black;
        margin-right: -18px;
        height: 1500px;
        overflow: auto;
        transition: all 3s ease-in;
    }

    .contents {
        padding: 0 30px;
    }

    .content {
        // border: 1px solid black;
        margin: 30px;
        float: left;
        width: 27%;
        height: 330px;
        transition: all 0.5s ease;
    }
    .content:hover {
        background-color: rgba(201, 175, 175, 0.1);
        transition: all 0.5s ease;
    }


    .img {
        width: 100%;
        height: 240px;
        background-image: url("../../assets/images/bg-left.png"),
        url("../../assets/images/123.png");
        background-size: 100% 100%;
    }

    .name {
        // border: 1px solid black;
        height: 10px;
        display: block;
    }

    /* load more */

    .load-more {
        margin-top: 100px;
        display: flex;
        justify-content: center;
    }

    .load-more > button {
        border: 1px solid black;
        font-size: 14px;
        padding: 8px 16px;
        height: 60px;
        cursor: pointer;
    }

    /* scroll up */

    .go-up {
        float: right;
        position: fixed;
        bottom: 100px;
        right: 40px;
        width: 60px;
        height: 60px;
        background-color: $uber-green;
    }

    .go-up > button {
        cursor: pointer;
    }
