    @import '../../sass/variables';

    .restaraunt-component-container {
        display: flex;
        justify-content: center;
    }

    .search {
        height: 50px;
        display: flex;
        position: relative;
        justify-content: center;
        flex-direction: column;
        border-bottom: 1px solid $grey;
        input {
            min-height: 30px;
            border: none;
            font-size: 20px;
        }
        button {
            background-color: black;
            border: 1px solid whitesmoke;
            color: white;
            position: absolute;
            width: 20px;
            height: 20px;
            right: 5px;
            top: 5px;
            box-shadow: gray;
        }
    }

    .input-value {
        position: absolute;
        right: 10px;
        height: 20px;
        color: $grey;
        font-size: 20px;
    }

    .categorys {
        margin-top: 20px;
        padding-left: 10px;
        h1 {
            font-size: 25px;
            display: inline-block;
        }
    }

    .category-list, .more-category-list {
        margin-top: 30px;
        min-height: 600px;
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        vertical-align: top;
    }

    .category, .more-category {
        width: 100%;
        max-width: 450px;
        padding: 0 10px 10px 10px;
        @media only screen and (min-width: $medium) {
            width: 50%;
            max-width: 350px;
        }
        @media only screen and (min-width: $m-large) {
            width: 33.33%;
            min-width: 300px;
        }
        @media only screen and (min-width: $large) {
            width: 25%;
            min-width: 280px;
        }
    }

    .category-image, .more-category-image {
        width: 100%;
        height: 150px;
        background: 100% 100%;
        cursor: pointer;
        border-radius: 2px;
    }


// restaurant-container

    .restaurat-name > h1 {
        display: block;
        font-size: 22px;
        padding-left: 25px;
    }
    .main-container {
        padding-left: 10px;
    }
    /* content */

    .content-list {
        min-height: 1500px;
        overflow: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .content {
        position: relative;
        cursor: pointer;
        width: 100%;
        height: 330px;
        &:hover {
            background-color: rgba(201, 175, 175, 0.1);
            transition: all 1s ease;
            cursor: pointer;
            transform: translateY(-2px);
        }
        @media only screen and (min-width: $medium) {
            width: 50%;
            max-width: 380px;
        }
        @media only screen and (min-width: $large) {
            width: 33.33%;
            min-width: 300px;
        }
    }

    .content-wrap {
        margin: 0 0.8em;
        position: relative;
    }

    .name, .detail {
        line-height: 10px;
    }
    .name {
        display: block;
        position: relative;
        box-sizing: border-box;
        font-weight: 800;
        line-height: 0px;
    }

    .detail {
        padding: 10px 0 5px 0;
    }

    .food-types {
        font-size: 14px;
        color: $grey;
        margin-bottom: 10px;
    }

    .making-time {
        display: inline-block;
        text-align: center;
        flex-direction: column;
    }

    .img{
        border-radius: 4px;
        width: 100%;
        height: 240px;
        background-size: 100% 100%;
    }

    // 가게가 안열었을 때
    .ready {
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        color: white;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 240px;
        border-radius: 4px;
    }

    /* load more */

    .load-more {
        margin: 30px 0;
        display: flex;
        justify-content: center;

        button {
            border: 1px solid $grey;
            font-size: 14px;
            padding: 8px 16px;
            height: 50px;
            cursor: pointer;
        }
    }

    /* scroll up */

    .go-up {
        float: right;
        position: fixed;
        bottom: 40px;
        right: 40px;
        width: 70px;
        height: 70px;
        background-color: $uber-green;
        cursor: pointer;
        color:white;
        font-size: 20px;
    }

    .go-up:hover {
        background-color: rgb(48, 133, 19);
        transition: all 0.7s ease;
    }


