<div class="constraint">
  <div class="container">
    <div class="search-container">
      <div class="search">
        <input class="input-search"
          type="text"
          (click)="click()"
          (input)="input()"
          [(ngModel)]="value"
          placeholder="{{isClick ? '검색' : '레스토랑 또는 음식으로 검색'}}">
          <li *ngIf="value">{{ value }}</li>
        <div class="input-value" *ngIf= "value ? true : false">검색할 값을 입력하세요.</div>
        <button *ngIf="showContainer" (click)="removeCategory()">X</button>
      </div>
    </div>
    <section *ngIf="showContainer">
      <div class="category-container">
        <h1 class="categorys">상위 카테고리</h1>
        <div class="category-list">
          <div class="category" *ngFor="let item of categoryLists">
            <a (click)="selectedRestaurant(item.count)">
              <img class="category-image" src="{{item.logo_url}}">
            </a>
          </div>
        </div>
      </div>
      <div class="more-category-container">
        <h1 class="categorys">더 많은 카테고리</h1>
        <div class="more-category-list">
          <div class="more-category" *ngFor="let item of moreLists">
            <a (click)="selectedRestaurant(item.count)">
              <img class="more-category-image" src="{{item.logo_url}}" alt="moreListImage">
            </a>
          </div>
        </div>
      </div>
    </section>
    <div class="restaraunt-container" *ngIf="!showContainer">
      <div class="main-container">
        <h1 class="restaurant-name"> local - 레스토랑 </h1>
        <div class="content-list">
          <div class="content" *ngFor="let item of restaurantsList">
            <a (click)="selectedRestaurant(item.count)">
              <div class="content-wrap">
                <img class="img" src={{item.logo}}>
                <div class="ready" *ngIf="!checkOpenTimes(item)">준비중</div>
                <div class="name">{{item.title}}</div>
                <div class="food-types">{{item.tags[0].name}}</div>
                <div class="making-time" *ngIf="checkOpenTimes(item)"> {{item.eta_range.min}} ~ {{item.eta_range.max}} 분 </div>
                <div calss="making-time" *ngIf="!checkOpenTimes(item)">{{nextOpenTime(item.open_time)}}</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <button class="go-up" *ngIf="isShow" (click)="goUp()">&uarr;</button>
      <div class="load-more" (click)="loadMore()">
        <button>더 로드하기</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>