    @import '../../sass/variables';

    .user-container {
        // border: 1px solid black;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 60px;
    }
    
    h2 {
        font-size: 2em;
    }

    .user-picture {
        width: 100%;
        max-width: 200px;
        max-height: 200px;
        border-radius: 50%;
        margin: 0 auto;
        align-self: flex-start;

        img {
            width: 100%;
            height: 100%;
        }
    
        @media only screen and (min-width: $medium) {
            width: 200px;
            height: 200px;
            border: 1px solid $uber-green;
            overflow: hidden;
        }
    }
    
    .user-info {
        width: 100%;
        margin-top: 60px;

        @media only screen and (min-width: $medium) {
            margin-top: 0px;
        }

        .user {
            position: relative;
            margin-bottom: 20px;
        }

        p {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 5px;
        }
        
        h3 {
            font-size: 1.4em;
            font-weight: 400;
            margin: 0;

            small {
                color: #FF5722;
                font-style: italic;
            }
        }
        
        .line-input {
            width: 100%;
            line-height: 40px;
            height: 30px;
            font-size: 1.2em;
            font-weight: 100;
            border: 0;
            padding: 0;
            margin: 10px 0 20px 0;
            border-radius: 0;
            border-bottom: 1px solid $light-grey;
        }
    
        @media only screen and (min-width: $medium) {
            width: calc(100% - 200px);
            padding-left: 60px;
        }
    }

    .name {
        display: flex;
    }

    .first-name {
        width: 60%;
        margin-left: 10px;
        position: relative;
    }

    .last-name {
        width: 40%;
        position: relative;
    }

    .phone-number {
        margin-top: 35px;
    }

    .error {
        font-size: 1em;
        color: #FF5722;
        top: 40px;
        right: 3px;
        position: absolute;
        animation: errorIn 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
        animation-iteration-count: 4;
    }
    .save {
    margin: 30px 0;
    display: flex;
    justify-content: center;

    button {
        border: 1px solid $grey;
        font-size: 14px;
        padding: 8px 16px;
        height: 50px;
        cursor: pointer;
    }
}