<section class="card-header">
  <div class="card">
    <h2>Denny's (1065 Camino Del Rio)</h2>
    <span class="category">American | Diner</span>
    <span class="cooking-time">25 ~ 35분</span>
  </div>
</section>

<div class="category-nav">
  <ul>
    <li>Most Popular</li>
    <li>Breakfast Slams</li>
    <li>Breakfast Favorites</li>
    <li>Buttermilk Pancakes</li>
  </ul>
</div>

<section class="menu-list">
  <h2>Most Popular</h2>
  <ul class="menu-group">
    <li class="menu-item">
      <div class="menu-text">
        <h3>Country-Fried Steak & Eggs</h3>
        <p>A golden-fried chopped beef steak smothered in rich country gravy.
          Served with two eggs, hash browns and bread.</p>
        <p>$11.79</p>
      </div>
      <div class="menu-img">
        <img src="#" alt="">
      </div>
    </li>
  </ul>
</section>