<app-selector 
  *ngIf="onClick"
  (close)="onClick = false">
</app-selector>
<section
  *ngIf="restaurantInfo"
  class="card-header"
  [ngStyle]="{'background-image': 'url(' + restaurantInfo.logo + ')'}">
  <div class="card-group constraint">
    <div class="card">
      <h2>{{ restaurantInfo.title | korean }}</h2>
      <div class="category-group">
        <span
          *ngFor="let tag of restaurantInfo.tags"
          class="category">
          {{ tag.name }}
        </span>
      </div>
      <p class="desc-text">{{ restaurantInfo.address.address1 }} | 영업시간 {{ getOpenHour(restaurantInfo.open_time) }}까지</p>
      <p class="cooking-time" *ngIf="restaurantInfo.eta_range">
        {{ restaurantInfo.eta_range.min }}분 ~ {{ restaurantInfo.eta_range.max }}분
      </p>
    </div>
  </div>
</section>
<div class="category-nav">
  <ul class="constraint">
    <li
      *ngFor="let category of categories; let i = index"
      [scrollTo]="'#a'+i" [scrollDuration]="1000" [scrollOffset]="-140"
      class="category-item">
      <a [class.active]="category.active" >{{ category | korean }}</a></li>
  </ul>
</div>
<div class="menu-wrapper constraint">
  <section class="menu-list">
    <div 
      class="group" 
      *ngFor="let group of products; let i = index"
      [id]="'a'+i">
      <h2>{{ group.title | korean }}</h2>
      <ul class="menu-group">
        <li 
          *ngFor="let item of group.items"
          class="menu-item"
          (click)="clickItem(item)">
          <div class="menu-text">
            <h3>{{ item.title | korean  }}</h3>
            <p class="menu-disc">{{ item.description | korean }}</p>
            <p class="menu-price">{{ item.price | currency:'KRW' : 'symbol' : '1.0' }}</p>
          </div>
          <div class="menu-img" *ngIf="item.image_url">
            <img [src]="item.image_url" width="400" height="auto" [alt]="item.name">
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="cart-group">
    <app-cart></app-cart>
  </section>
</div>