<app-selector 
  *ngIf="onClick"
  (close)="onClick = false">
</app-selector>
<section
  *ngIf="restaurantInfo"
  class="card-header"
  [ngStyle]="{'background-image': 'url(../../assets/images/yakynina-anastasia-543605-unsplash.jpg)'}">
  <div class="card-group constraint">
    <div class="card">
      <h2>{{ restaurantInfo?.title }}</h2>
      <div class="category-group">
        <span 
          *ngFor="let tag of restaurantInfo.tags"
          class="category">{{ tag?.name }}</span>
      </div>
      <p class="cooking-time">
        {{ restaurantInfo?.eta_range.min }}분 ~ {{ restaurantInfo?.eta_range.max }}분
      </p>
    </div>
  </div>
</section>
<div class="category-nav">
  <ul class="constraint">
    <li
      *ngFor="let category of categories; let i = index"
      class="category-item">
      <a href="#">{{ i }}</a></li>
  </ul>
</div>
<div class="menu-wrapper constraint">
  <section class="menu-list">
    <div class="group" *ngFor="let group of products">
      <h2>{{ group.title }}</h2>
      <ul class="menu-group">
        <li 
          *ngFor="let item of group.items"
          class="menu-item"
          (click)="clickItem(item)">
          <div class="menu-text">
            <h3>{{ item.title }}</h3>
            <p class="menu-disc">{{ item.description }}</p>
            <p class="menu-price">{{ item.price | currency:'KRW' }}</p>
          </div>
          <div class="menu-img" *ngIf="item.img">
            <img [src]="item.image_url" width="400" height="auto" [alt]="item.name">
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="cart-group">
    <app-cart></app-cart>
  </section>
</div>