// 공용 스타일 여기에 작성합니다.
@import './sass/variables';
@import './sass/reset';


body {
  background: $background;
}
.modal-bg {
  animation: show 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  top: 0;
  background: #0000006e;
  left: 0;
  display: flex;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 100%;
  background: white;
  height: 100vh;
  padding: 30px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  animation: pop 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  
  @media only screen and (min-width: $medium) {
    width: 70%;
    max-width: 580px;
    height: 600px;
	}

  .closeButton {
    position: absolute;
    width: 20px;
    right: 20px;
  }

  h3 {
    font-size: 2em;
    font-weight: 300;
    margin-top: 0;
  }
}

.form-title {
  font-size: 2em;
  font-weight: 300;
  color: $dark;
}
.form-sub {
  margin: 0;
}
.text-link {
  color: $uber-green;
}

// 사이즈 제한 있는 컨테이너 작업시 사용가능한 클래스
.constraint {
  max-width: $large;
  margin: 0 auto;
  padding: 10px 20px;

  @media only screen and (min-width: $large) {
		// padding: 10px 0;
	}
}

// 버튼 기본 스타일 클래스
// class="button uber" 이렇게 다양한 색 적용 가능
.button {
  min-width: 85px;
  height: 34px;
  text-decoration: none;
  border-radius: $border;
  border: 1px solid $light-grey;
  color: rgb(36,36,36);
  background: white;
  margin-left: 2px;
  margin-right: 2px;
  transition: background 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  
  &.button-large {
    height: 50px;
    margin: 0;
    width: 90px;
    margin-left: -4px;
  }
  &.button-fluid {
    width: 100%;
    height: 50px;
  }

  &.disabled {
    opacity: 0.5;
    cursor: no-drop;
  }
  
  &:hover {
    background: rgb(245,245,245);
  }

  &.dark {
    color: white;
    background: $dark;
    border-color: $dark;
    
    &:hover {
      background: #000;
      border-color: #000;
    }
  }

  &.uber {
    color: white;
    background: $uber-green;
    border-color: $uber-green;

    &:hover {
      background: $uber-green-hover;
      border-color: $uber-green-hover;
    }
  }

  &.warning {
    color: white;
    background: $warning;
    border-color: $warning;

    &:hover {
      background: $warning-hover;
      border-color: $warning-hover;
    }
  }
}

// input text 기본 스타일입니다. 
// 기본은 박스형 line 클래스로 라인형으로 사용가능
input {
  width: 100%;
  height: 34px;
  padding: 0 10px 0 26px;
  border-radius: $border;
  border: 1px solid $light-grey;

  transition: border 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  
  font-size: inherit;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: $dark;

  &::placeholder {
    color: $grey;
    font-size: inherit;
    font-weight: 100 !important;
  }

  &:focus {
    border-color: black;
  }

  &.light:focus {
    border-color: white;
  }

  &.uber:focus {
    border-color: $uber-green-hover;
  }

  &.select {
    width: 100px;
    padding-left: 10px;
  }

  &.line {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $light-grey;

    &:focus {
      border-color: black;
    }
  }
}
.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}