@import '../../sass/variables';

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadeInReverse {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes bgIn {
  0% {
    opacity: 0;
    background-position-x: -100%, 200%;
  }
  50% {
    background-position-x: -20%, 200%;
  }
  100% {
    opacity: 1;
    background-position-x: -20%, 110%;
  }
}
@keyframes bgInBig {
  0% {
    opacity: 0;
    background-position-x: -100%, 200%;
  }
  50% {
    background-position-x: 0%, 200%;
  }
  100% {
    opacity: 1;
    background-position-x: 0%, 100%;
  }
}
.home-group {
  background-image: url("../../assets/images/bg-left.png"),
    url("../../assets/images/bg-right.png");
  width: 100%;
  // height: calc(100vh - 72px);
  height: 600px;
  // background-position-x: -10%, 110%;
  background-size: 40% auto;
  background-repeat: no-repeat, no-repeat;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  opacity: 0;
  animation: bgIn 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;

  @media only screen and (min-width: 1600px) {
    padding: 0 0;
    background-position-x: 0%, 100%;
    background-size: 30% auto;
    max-width: 1200px;
    animation: bgInBig 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }
}

h2 {
    color: $dark;
    font-size: 3em;
    font-weight: 400;
    line-height: 1.3;
    word-break: keep-all;
    text-align: center;
    text-shadow: 1px 1px white;
    width: 100%;
    max-width: 80%;
    animation: fadeIn 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 0 20px;
    margin-top: 120px;

    @media only screen and (min-width: $large) {
      font-size: 4em;
  }
}

.hideOnMobile {
  display: none;
   @media only screen and (min-width: $medium) {
      display: initial;
  }
}

.section-group {
  margin-top: 20px;
  opacity: 0;
  height: 500px;
  animation: fadeInReverse 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

h3 {
  font-size: 1.6em;
  font-weight: 600;
}

section {
  border-top: 1px solid #dbdbdb;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.select {
  width: 25%;
  font-weight: 400;
  height: 70px;
  line-height: 70px;
  font-size: 1.4em;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  .fa-angle-right {
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &:hover {
    color: $uber-green;
    transform: translateX(10px);
    .fa-angle-right {
      transform: translateX(10px);
      color: $uber-green;
    }
  }
}