@import '../../sass/variables';

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes bgIn {
  0% {
    opacity: 0;
    background-position: -100% 65%, 200% 3%;
  }
  50% {
    background-position: 0% 65%, 200% 3%;
  }
  100% {
    opacity: 1;
    background-position: 0% 65%, 100% 3%;
  }
}
.home-group {
  background-image: url("../../assets/images/bg-left.png"),
    url("../../assets/images/bg-right.png");
  width: 100%;
  height: 500px;
  background-position: -10% 65%, 117% 3%;
  max-width: 1400px;
  background-size: 35% auto;
  background-repeat: no-repeat, no-repeat;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  opacity: 0;
  animation: bgIn 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;

  @media only screen and (min-width: $medium) {
    padding: 0 0;
  }
}

h2 {
    color: $dark;
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1.3;
    word-break: keep-all;
    text-shadow: 1px 1px white;
    width: 100%;
    max-width: 600px;
    animation: fadeIn 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 0 20px;
    margin-top: 120px;

    @media only screen and (min-width: $medium) {
      width: 600px;
      font-size: 3em;
  }
}

.hideOnMobile {
  display: none;
   @media only screen and (min-width: $medium) {
      display: initial;
  }
}