@import '../../../sass/variables';
footer {
  background: black;
  width: 100%;
  margin-top: 30px;
}
.footer-content {
  color: white;
  padding-top: 60px;
}

.name, .project {
  font-size: 1em;
  margin-bottom: 10px;
}

.participants-container {
    width: 100%;
    padding: 40px 0;
    display: flex;
    text-align: left;
    justify-content: space-between;
    flex-wrap: wrap;
    
    .footer-title {
      font-size: 2em;
      font-weight: 600;
      letter-spacing: 0.01em;
      color: #d9d9d9;
      margin-bottom: 20px;
      
      width: 100%;

      @media only screen and (min-width: $large) {
        width: 20%;
      }
    }

    div {
      width: 100%;
      margin-bottom: 20px;
      
      @media only screen and (min-width: $medium) {
        width: 20%;
      }

      li{
        padding: 5px;
        color: #9e9e9e;
        text-transform: capitalize;
        letter-spacing: 0.5px;
        line-height: 30px;        
        transition: color 0.5s ease;

        &:hover {
          color: white;
        }

        &.learn {
        text-transform: uppercase;
        color: white;
        letter-spacing: 2px;
        }
      }
    }
}

.news {
  margin-top: 20px;
  display: block;
  background-color: black;
  color: white;
  div {
    display: block;
    flex-wrap: nowrap;
    input {
      width: 350px;
      border: 1px solid grey;
      margin: 10px 0;
      background-color: rgba(0,0,0,0.2);
      transition: all 1s ease;
      &:focus {
        background-color: white;
        transition: all 1s ease;
      }
    }
    button {
      background-color: gray;
      margin:10px 0;
      margin-bottom: 40px;
      width: 250px;
      height: 40px;
      border-radius: 5px;
      color: white;
      transition: all 1s ease;
        &:hover {
        background-color: rgba(0,0,0,0.7);
        transition: all 1s ease;
        cursor: pointer;
        transform: translateY(-2px);
        }
    }
  }
}

.alert {
    color: red;
}

